/* Typography */
$font-family: 'Inter', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

/* Custom Font Weight */
$type1-light: 300;
$type1-regular: 400;
$type1-medium: 600;
$type1-bold: 700;

/* Custom Colors */
$black: #0F0F12;
$black-russian: #121212;
$bunting: #303545;
$east-bay: #4A5470;
$ghost-white: #F9F9FD;
$grey-chateau: #919EAB;
$solitude: #E6ECF0;
$white: #FFF;